@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  align-items: center;
  display: flex;
  z-index: 999;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px 50px;
  background-color: rgb(0, 200, 255);
  position: fixed;
  margin: 0;
}
.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.ataaservices {
  font-family: "Aref Ruqaa", sans-serif;
  margin-top: -10px;
  cursor: default;
}
.img-Logo {
  margin-left: 20px;
  margin-right: 40px;
  mix-blend-mode: normal;
  transition: 300ms;
}
.img-Logo:hover {
  transform: scale(1.1);
  transition: 300ms;
}
nav {
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  cursor: default;
}
.Services {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 200ms;
}
.Services:hover {
  margin: 0 10px;
  text-decoration: underline;
  color: blanchedalmond;
  transform: scale(1.04);
  transition: 200ms;
}
.Home {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 200ms;
}
.Home:hover {
  margin: 0 10px;
  text-decoration: underline;
  color: blanchedalmond;
  transform: scale(1.04);
  transition: 200ms;
}
.Contact-Us {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 200ms;
}
.Contact-Us:hover {
  margin: 0 10px;
  text-decoration: underline;
  color: blanchedalmond;
  transform: scale(1.04);
  transition: 200ms;
}
.welcom-section {
  background: #0096ff;
  padding: 310px 120px;
  direction: rtl;
  color: white;
  font-family: "cairo", sans-serif;
}
.welcoming {
  font-weight: 700;
  font-size: 40px;
  margin-top: -100px;
}
.WZE {
  font-weight: 700;
  font-size: 2em;
}
.khadmat-U8 {
  color: rgb(162, 255, 219);
}
.services-section {
  background: #ffffff;
  direction: rtl;
  font-family: "cairo", sans-serif;
  padding-top: 40px;
  padding-bottom: 160px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.cards-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  font-size: 2.3em;
  font-weight: 700;
  margin-top: 30px;
  color: rgb(71, 184, 184);
}
.card {
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  border: #33b5cc solid;
  height: 280px;
  width: 600px;
  color: #248a9c;
  padding-left: 20px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-img {
  border-bottom-right-radius: 37px;
  border-top-right-radius: 37px;
  margin-left: 40px;
}
dt {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  margin-right: -15px;
  margin-bottom: 10px;
}
.waves {
  position: relative;
  width: 100%;
  height: 122px;
  top: -122px;
  min-height: 100px;
  max-height: 150px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  font-size: 2.3em;
  font-weight: 700;
  margin-top: 30px;
  color: rgb(71, 184, 184);
}
.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.cards-contact {
  background: #ffffff;
  direction: rtl;
  font-family: "cairo", sans-serif;
  padding-top: 40px;
  padding-bottom: 160px;
}
.contact-card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}
a {
  text-decoration: none;
  color: #0096ff;
}
.contact-card:hover {
  transform: scale(1.02);
}
.contact-card .icon {
  color: rgb(0, 200, 255);
  font-size: 8em;
  text-align: center;
}
.more-details {
  text-decoration: none;
  color: #3a6cf4;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}
.Home-word {
  position: relative;
  bottom: 5400px;
}
.footer .social-icons a{
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
.social-icons {
  cursor: default;
  font-size: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #0096ff;
  font-size: 3em;
  cursor: default;
  margin-top: 40px;
}
.facebook {
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms;
}
.facebook:hover {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.1);
  transition: 200ms;
}
.instagram {
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms;
}
.instagram:hover {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.1);
  transition: 200ms;
}
.